// Place all the styles related to the letture controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prelievienel
{
	background-color:#FF7AA7;
}
.produzione
{
	background-color: #C1E5B1;
}
.immissioni
{
	background-color: #FFEE7A;
}
.consumi
{
	background-color: #F7B86E;
}
.totale
{
	font-weight: bold;
	font-size: 10;
}
